<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hatcher.dao.ImgMapper">
    <resultMap id="imgDisplay" type="com.hatcher.vo.ImgDisplay">
        <id column="userName" property="userName"/>
        <collection property="groupList" ofType="com.hatcher.vo.GroupVo">
            <id column="groupName" property="groupName"/>
            <result column="groupContent" property="groupContent"/>
            <result column="groupCreateTime" property="groupCreateTime"/>
            <collection property="imgList" ofType="com.hatcher.vo.ImgVo">
                <id column="imgId" property="imgId"/>
                <result column="imgMasterName" property="imgMasterName"/>
                <result column="imgUrl" property="imgUrl"/>
                <result column="imgCreateTime" property="imgCreateTime"/>
            </collection>
        </collection>
    </resultMap>
    <select id="queryImgsByUserId" resultMap="imgDisplay" parameterType="String">
        SELECT
            u.username userName,
            n.group_name groupName,
            n.group_content groupContent,
            n.gmt_create groupCreateTime,
            i.imgMasterName,
            i.imgUrl,
            i.imgCreateTime,
            i.imgId
        FROM
            user u
                LEFT JOIN (
                SELECT
                    u.id user_id,
                    u.username imgMasterName,
                    i.img_url imgUrl,
                    i.gmt_create imgCreateTime,
                    i.id imgId,
                    i.group_id groupId
                FROM
                    img i,
                    user u
                WHERE
                    i.user_id = u.id
            ) i ON u.id = i.user_id
                LEFT JOIN ne_group n ON i.groupId = n.id
        WHERE
            u.id = #{userId}
    </select>
</mapper>
