<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <template id="hello">
        <input type="text" v-model="inputValue">
        <h2>{{inputValue}}</h2>

        <label for="male">男</label>
        <input name="gender" type="radio" id="male" value="male" v-model="gender">
        <label for="female">女</label>
        <input name="gender" type="radio" id="female" value="female" v-model="gender">
        {{gender}}
    </template>
    <script src="../vue_js_file/vue.global.js"></script>
    <script>
        const vueapp = {
            template:'#hello',
            data() {
                return {
                    inputValue:"",
                    gender:[]
                }
            },
            methods: {
            },
        }
        const app = Vue.createApp(vueapp);
        app.mount("#app")
    </script>
</body>
</html>