@font-face {
  font-family: 'iconfont';  /* Project id 2644462 */
  src: url('//at.alicdn.com/t/font_2644462_x7t07mmh5aj.woff2?t=1625626661901') format('woff2'),
       url('//at.alicdn.com/t/font_2644462_x7t07mmh5aj.woff?t=1625626661901') format('woff'),
       url('//at.alicdn.com/t/font_2644462_x7t07mmh5aj.ttf?t=1625626661901') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}