@font-face {
    font-family: 'iconfont';
    /* Project id 2644462 */
    src: url('//at.alicdn.com/t/font_2644462_14r560rt346.woff2?t=1625121883089') format('woff2'),
        url('//at.alicdn.com/t/font_2644462_14r560rt346.woff?t=1625121883089') format('woff'),
        url('//at.alicdn.com/t/font_2644462_14r560rt346.ttf?t=1625121883089') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}